.review {
    display: flex;
    align-items: center;
    margin: 12px;

    border: 3px solid #FFA800;
    padding: 12px;
    border-radius: 8px;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 12px;

}

.review-info {
    display: flex;
    flex-direction: column;
}

.review-info b {
    margin-bottom: 4px;
}

.review-info p {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000;
    font-weight: 400;
}