.customerAvt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customerAvtContainer {
    width: 25%;
    background-color: white;
    position: relative;
    padding: 24px 36px 36px 36px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.customer-off-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 12px;
    padding-top: 12px;
    color: red;
}

.customerImg {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin: 24px 0 24px 0;
}

.chooseFile {
    padding: 2px 8px;
    background-color: #FFA800;
    border-radius: 4px;
    color: white;
    margin-bottom: 24px;
}

.customerUpdateBtn {
    background-color: #003580;
    color: white;
    border-radius: 4px;
    padding: 8px 20px;
    border: none;

}